body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.banner-title{
    color: #272727;
font-size: 80px;
font-weight: 800;
margin-bottom: 24px;
margin-top: 90px;
}
.btn-primary{
    border-radius: 8px;
   background: #E55473;
   border: 0;
   color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  margin-bottom: 240px;
}
.header{
    background-color: rgba(229, 84, 115, 0.10);
    border-radius: 0px;
}
.banner{
    padding: 50px 240px 0px 240px;
    display: flex;
}
.banner .main-picture{
    width: 635px;
    margin-bottom: 0;
}
.banner-description{
  margin-bottom: 24px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
}
.Featured-Flowers{
    width: 1920px;
    background: #FFF;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 170px;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
   text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 48px;
  margin-left: 663px;
  margin-right: 663px;
}
.image-section{
    display: flex;
    gap: 25px;
    margin-left: 300px;
    
    
}
.one{
   background: rgba(167, 33, 98, 0.15);
   border-radius: 300px 300px 0px 0px;
   padding: 40px;
  
  
  
}
.two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 111px 30px 26px 5px ; 
   
}
.three{
    border-radius: 300px 300px 0px 0px;
   background: rgba(71, 125, 17, 0.15);
   padding: 20px 30px 13px 25px;
  
}
.text{
    text-align: center;
}
.color-change{
   color: #E55473; 
}
.discount{
    border-radius: 8px;
   background-color: rgba(229, 84, 115, 0.05);
   width: 1922px;

}
.discount-image{
    margin-top: 100px;
    background-color: lightgray 50% / cover no-repeat;
    width: 318px;
    margin-bottom: 100;
}

.discount-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
   font-size: 18px;;
   font-weight: 400;
   width: 594px;
}
 
.main{
    display: flex;
    gap: 100px;
    margin-right: 200px;
    margin-left: 300px;
 }
 .btn-primary2{
    border-radius: 8px;
   background: #E55473;
   border: 0;
   color: #FFF;
   font-size: 20px;
   font-weight: 700;
   padding: 20px 43px;
   margin-bottom: 240px;
   margin-left: 250px;
 }
 .instagram{
    width: 1920px;
    background: #FFF;
 }
 .picture-section{
    display: flex;
    gap: 20px;
    margin-left: 200px;
 }
 .instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin-left: 680px;
    margin-top: 24px;
    margin-bottom:40px ;
 }
 .details-description{
    text-align: center;
 }
 .from{
    display: flex;
    text-align: center;
    gap: 16px;
 }
 .email-text{
    background: #FFF;
    margin-left: 750px;
    font-size: 20px;
   padding: 20px 43px;
   border-radius: 8px;    
 }
.details-section{
 background-image: url('');
}